  <!DOCTYPE html>
  <!-- kick off build -->
  <html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = "form-wrapper">
      <div id = "form1">
        <form id ="first">
          <header>FORMAT DATE</header>
          <p>Note: Input must be 8 digits.</p>
          <p>Example: 11031995 ==> 11-03-1995 </p>
          <input id="date" type="text" name="date" />
          <button class = "btn btn1" type="button" onclick="formatDate()">Format </button>
          <div id="formatResult"> </div>
        </form>
      </div>

      <div id = "form2">
        <form id = "second">
          <header id = "rightH">VALIDATE DATE</header>
          <p>Note: Input must be MM-DD-YYYY.</p>
          <p>Example: 11-03-1995 ==> true </p>
          <input id="date2" type="text" name="date2" />
          <button class = "btn btn2" type="button" onclick="validateDate()">Validate</button>
          <div id="validateResult"> </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    function formatDate() {
      var date = document.getElementById('date').value;
    //request
    fetch('/date/format', {
      method: 'post',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ date: date })
    })
    .then(function(res) { return res.json(); })
    .then(function(data) { document.getElementById('formatResult').innerHTML = data.date; });
  }
</script>

<script>
  function validateDate() {
    var date2 = document.getElementById('date2').value;
    //request
    fetch('/date/isValid', {
      method: 'post',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ date2: date2 })
    })
    .then(function(res) { return res.json(); })
    .then(function(data) { document.getElementById('validateResult').innerHTML = data.valid; });
  }
</script>
</html>
