<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <form>
        <input id="date" type="text" name="date" />
        <button type="button" onclick="formatDate()">Format Date</button>
      </form>
      <div>
        <span id="result"></span>
      </div>
    </div>
  </body>
  <script>
    function formatDate() {
      var date = document.getElementById('date').value;

      fetch('/date/format', {
        method: 'post',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ date: date })
      })
      .then(function(res) { return res.json(); })
      .then(function(data) { document.getElementById('result').innerHTML = data.date; });
    }
  </script>
</html>
