body {
	background-color: #688191;
	padding: 62.5px;
	font: 25px 'Lato', Calibri, Arial, san-serif;
}

header {
	font-size: 37px;
	font-weight: 625;
	text-align: center;
	padding-left: 37px;
	padding-right: 37px;
	font: 'Lato', Calibri, Arial, san-serif;
	letter-spacing: 2.5px;  
}

header:after {
	content:' ';
	display:block;
	border:1.25px solid white;
}

#rightH:after {
	content:' ';
	display:block;
	border:1.25px solid #688191;
}

#form-wrapper {
	display: table;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 100px;
}

#row {
	display: table-row;
}

#form1 {
	display: table-cell;
	width: 500px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translate(-100%, -50%);
}

#form2 {
	display:table-cell;
	width: 500px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#first {
	background-color: #a7e5ed; 
	padding-top: 37px;
	padding-bottom: 125px;
	box-shadow: 0 10px 12.5px 0 rgba(0, 0, 0, 0.2), 0 7.5px 25px 0 rgba(0, 0, 0, 0.19);
	color: #ffffff;
}

#second {
	background-color: #fefefe; 
	color: #688191;
	padding-top: 37px;
	padding-bottom: 125px;
	box-shadow: 0 10px 12.5px 0 rgba(0, 0, 0, 0.2), 0 7.5px 25px 0 rgba(0, 0, 0, 0.19);
}

#date {
	border: none;
	outline: none;
	background-color: #eafafa;
	font-family: 'Lato', Calibri, Arial, san-serif;
	font-size: 25px;
	font-weight: 625;
	color: #5acfdd;
}

#date2 {
	border: none;
	outline: none;
	background-color: #d5f6ec;
	font-family: 'Lato', Calibri, Arial, san-serif;
	font-size: 25px;
	font-weight: 625;
	color: #42d5aa;
}

.btn {
	border: none;
	font-family: 'Lato', Calibri, Arial, san-serif;
	font-size: 22.5px;
	color: #ffffff;
	cursor: pointer;
	padding: 12.5px 37px;
	border-radius: 6.25px;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	font-weight: 875;
	outline: none; 
	position: relative;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn1 {
	background: #89dde7;
	box-shadow: 0 7.5px #5acfdd;
}

.btn2 {
	background: #70dfbf;
	box-shadow: 0 7.5px #42d5aa;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn1:active {
	box-shadow: 0 0 #5acfdd;
	top: 7.5px;
}

.btn2:active {
	box-shadow: 0 0 #42d5aa;
	top: 7.5px;
}
